{% extends 'base.html' %} {% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
  <div class="container">
    <h1 class="text-center h2 mb-4">Manage Categories</h1>
    <div class="row">
      <aside class="col-md-3">
        <!--   SIDEBAR   -->
        <ul class="list-group">
          <a class="list-group-item" href="{% url 'manager_dashboard' %}"> Dashboard </a>
          <a class="list-group-item" href="{% url 'manage_user' %}"> User Management </a>
          <a class="list-group-item" href=""> Product Management </a>
          <a class="list-group-item active" href="{% url 'manage_category' %}"> Category Management </a>
          <a class="list-group-item" href=""> Order Management </a>
        </ul>
        <br />
        <a class="btn btn-light btn-block" href="{% url 'manager_logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a>
        <!--   SIDEBAR .//END   -->
      </aside>
      <main class="col-md-9">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
        <!-- order-group.// -->
      </main>
    </div>
    <!-- row.// -->
  </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock content %}
