{% extends 'base.html' %} {% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
  <div class="container">
    <div class="row">
      <aside class="col-md-3">
        <!--   SIDEBAR   -->
        <ul class="list-group">
          <a class="list-group-item" href="{% url 'user_dashboard' %}"> Dashboard </a>
          <a class="list-group-item active" href="{% url 'my_orders' %}"> My Orders </a>
        </ul>
        <br />
        <a class="btn btn-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a>
        <!--   SIDEBAR .//END   -->
      </aside>
      <main class="col-md-9">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">Order #</th>
              <th scope="col">Billing Name</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Order Total</th>
              <th scope="col">Order Status</th>
              <th scope="col">Order Cancel</th>
            </tr>
          </thead>
          <tbody>
            {% for order in orders %}
            <tr>
              <th scope="row"><a href="{% url 'view_order' order.order_number %}">{{ order.order_number }}</a></th>
              <td>{{ order.full_name }}</td>
              <td>{{ order.phone_number }}</td>
              <td>₹ {{ order.order_total }}</td>
              <td>
                {% if order.status == 'Cancelled' %}
                <span class="text-danger font-weight-bold">{{ order.status }}</span>
                {% elif order.status == 'Completed' %}
                <span class="text-success font-weight-bold">{{ order.status }}</span>
                {% else %} <span class="text-info font-weight-bold">{{ order.status }}</span> {% endif %}
              </td>
              <td>
                {% if order.status == 'Accepted' %}
                <a href="{% url 'cancel_order' order.order_number %}" class="btn btn-danger">Cancel</a>
                {% elif order.status == 'Pending' %}
                <a href="{% url 'cancel_order' order.order_number %}" class="btn btn-danger">Cancel</a>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <!-- order-group.// -->
      </main>
    </div>
    <!-- row.// -->
  </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock content %}
